snippet doc
	<!DOCTYPE HTML>
snippet .yd
	class="youdaoGWZS_${1}"
snippet link
	<link rel="stylesheet" href="${1}">
snippet script
	<script src="${1}"></script>
snippet header
	<header>
		${1}
	</header>
